credentials
# For the reader's information the contents are:
credentials/creds_api_key.txt
credentials/creds_geomics_england_panel_app_user.txt

data/panel_data_html/
data/panel_data_html_beta/

data/uniprot_kb_up000005640/
data/uniprot_panelapp/
data/rag_panels_uniprot/

ref/
ref/uniprot/

.Rhistory
.DS_Store

